* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #f4f4f4;
}

.header {
    background-color: #fff;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.logo {
    display: flex;
    align-items: center;
}

.nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.nav a {
    margin: 0.5rem;
    text-decoration: none;
    color: #333;
}

.packages-main {
    max-width: 1200px;
    margin: 2rem auto;
    padding: 1rem;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.packages-main h1 {
    text-align: center;
    margin-bottom: 2rem;
    color: #333;
}

.package-container {
    display: flex;
    flex-direction: column;
}

.package,
.plan-container {
    margin-bottom: 2rem;
}

.package h2,
.plan h3 {
    text-align: center;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.plan .price {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 1rem;
}

ul {
    list-style-type: none;
}

li {
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
}

.check,
.cross {
    margin-right: 0.5rem;
    font-size: 1.2rem;
}

.check {
    color: green;
}

.cross {
    color: red;
}

.button {
    display: block;
    padding: 0.5rem 1rem;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 1rem;
    text-align: center;
}

.free .button {
    background-color: #ff69b4;
}

.premium .button {
    background-color: #ffa500;
}

.free h3 {
    color: #4a4b4d;
}

.premium h3 {
    color: #ffa500;
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: #333;
    color: #fff;
}

@media screen and (min-width: 768px) {
    .package-container {
        flex-direction: row;
    }

    .package {
        flex: 1;
        margin-right: 2rem;
    }

    .plan-container {
        flex: 1;
        display: flex;
        justify-content: space-between;
    }

    .plan {
        flex: 0 1 48%;
    }
    
}